<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blueddit</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/new.css'%}">
    <!-- <link rel="stylesheet" href="C:\Users\prajv\Desktop\PycharmProjects\PS-PY\venv\djenv\blog_pro\blog_app\static\css\blog.css"> -->

    <!-- custom js -->
    <script src="{% static 'js/blog.js' %}"></script>
    <!-- <script src="C:\Users\prajv\Desktop\PycharmProjects\PS-PY\venv\djenv\blog_pro\blog_app\static\js\blog.js"></script> -->


    <!-- medium style editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
   <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <!-- Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet"> -->

  </head>
  <body>

	<!-- <div class="navigation-wrap bg-light start-header start-style"> -->
		<!-- <div class="container"> -->
    <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <img class="logo" src="https://lh3.googleusercontent.com/proxy/N_iBFGSGeB6w0fyGeJBVykihB--riEM1HXR6Vu6WG7i5iYBW5I3lTtSCCp40lNYd0TWoliC-uRFL2O0AKd1eZ51m4T6FcUWHEk4PRF40NYRW4WzK6z30beY" alt="">
    <a class="navbar-brand" href="{%url 'about'%}">Blueddit</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse" style="">
        <ul class="navbar-nav ml-auto py-4 py-md-0">

          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" id="navbar-dropdown-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                HOME
              </a>
                <div class="dropdown-menu" aria-labelledby="navbar-dropdown-menu">
              <a class="dropdown-item" href="{%url 'about' %}">About</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </div>
          </li>
          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
            <a class="nav-link" href="{% url 'post_list'%}">POSTS</a>
          </li>
          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" id="navbar-dropdown-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
              </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="https://github.com/prajvalsudhir">Github</a>
              <a class="dropdown-item" href="https://in.linkedin.com/in/prajval-sudhir-571833185">LinkedIn</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="#">Another action</a>
            </div>
          </div>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
            <a class="nav-link" href="{% url 'post_create' %}">NewPost</a>
          </li>
          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
            <a class="nav-link" href="{%url 'Ulist' %}">My Posts</a>
          </li>
          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
          <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
          </li>
          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
          <strong><a class="nav-link" >Welcome: {{ user.username }}</a></strong>
          </li>
          {% else %}
          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
          <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
            <a class="nav-link" href="{% url 'user_login' %}" aria-label="Login">Login</a>
            </li>
          {% endif %}
      </ul>

    </div>
  </nav>
</header>






{# The actual blog posts#}
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                  <div class="blog_posts">
                    {% block body_block %}
                    {% endblock %}

                  </div>
                </div>
            </div>
        </div>


        <!-- FOOTER -->
        <footer class="container">
          <p class="float-right"><a href="#">Back to top</a></p>
          <p>© Website created and owned by <a href="https://in.linkedin.com/in/prajval-sudhir-571833185">Prajval</a> · <a href="#">Terms</a></p>
        </footer>
      </main>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>

    
  </body>
</html>
