{#% extends 'blog_app/base.html'%#}
{% load static %}

{% block body_block %}

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<!-- <link rel="stylesheet" href="C:\Users\prajv\Desktop\PycharmProjects\PS-PY\venv\djenv\blog_pro\blog_app\static\css\login.css"> -->
<script src="{% static "js/login.js" %}"></script>
<script src="C:\Users\prajv\Desktop\PycharmProjects\PS-PY\venv\djenv\blog_pro\blog_app\static\js\login.js"></script>


<!-- navbar code -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- custom css link must come after bootstrap link -->
<link rel="stylesheet" href="{% static "css/login.css" %}">
<link rel="stylesheet" href="C:\Users\prajv\Desktop\PycharmProjects\PS-PY\venv\djenv\blog_pro\blog_app\static\css\login.css">

<nav class="navbar navbar-expand-md navbar-light">

  <a class="navbar-brand"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/logo.svg" alt="" width="50" height="50" class="d-inline-block align-top"></a>
  <strong><a class="navbar-brand" id="logo"href="#">REDDIT_V2.0</a></strong>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto py-4 py-md-0">
      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{%url 'about' %}">About</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
        <a class="nav-link" href="{% url 'post_list'%}">POSTS</a>
      </li>
      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://github.com/prajvalsudhir">Github</a>
          <a class="dropdown-item" href="https://in.linkedin.com/in/prajval-sudhir-571833185">LinkedIn</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
        <a class="nav-link" href="{% url 'post_create' %}">NewPost</a>
      </li>
      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
    <!-- user object which is automatically created is given as primary key(pk) to get the individual user posts -->
        <a class="nav-link" href="{%url 'Ulist' pk=user.pk%}">My Posts</a>
      </li>
      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
      <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
      </li>
      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
      <strong><a class="nav-link" >Welcome: {{ user.username }}</a></strong>
      </li>
      {% else %}
      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
        <a class="nav-link" href="{% url 'user_login' %}" aria-label="Login">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>

</nav>

<!-- ##################################### -->
{% if user.is_authenticated%}

<center><strong><h2>WELCOME BACK: {{user.username}}</h2></strong></center>
{% else%}

<div class="container">
  <div class="frame">
    <div class="nav">
      <ul class"links">
        <li class="signin-active"><a class="btn">Sign in</a></li>
        <li class="signup-inactive"><a class="btn" href="{%url 'register'%}">Sign up </a></li>
      </ul>
    </div>
    <div ng-app ng-init="checked = false">
				   <form class="form-signin" method="post" name="form">
               {% csrf_token %}
          <label for="username">Username</label>
          <input class="form-styling" type="text" name="username" placeholder=""/>
          <label for="password">Password</label>
          <input class="form-styling" type="password" name="password" placeholder=""/>
          <input type="checkbox" id="checkbox"/>
          <label for="checkbox" ><span class="ui"></span>Keep me signed in</label>
          <div class="btn-animate">
            <input type="submit" name="" value="Sign in" class="btn-signin">
            <!-- <a class="btn-signin">Sign in</a> -->
          </div>
				        </form>


</div>
</div>
</div>
{% endif %}

{% endblock %}
