{% extends 'blog_app/base.html'%}


{% block body_block %}

<h2 class="display-5">{{post.title}}</h2>

  {% if post.published_date %}
 <div class="date postdate">
              {{ post.published_date }}
          </div>


        <!-- display the publish button -->
        {%else%}
          <a class="btn btn-outline-dark" href="{% url 'post_publish' pk=post.pk %}">Publish</a>

    {%endif%}
   <!-- add a filter to the post so that only the text content is displayed(because of the medium functionality) -->
    <p class='postcontent' >{{ post.text|safe|linebreaksbr }}</p>

    <!-- only the post creators can edit the posts -->
    {%if user.is_authenticated and user.username == post.creator %}

    <!-- the update view and delete view are used here and respective pk is sent -->
         <a class="btn btn-primary" href="{% url 'post_update' pk=post.pk %}"><span class="fa fa-pencil">Edit</span></a>
         <a class="btn btn-primary" href="{% url 'post_remove' pk=post.pk %}"><span class="fa fa-remove">Delete</span></a>
     {% endif %}

<hr>
<a class="btn btn-primary btn-comment" href="{% url 'add_comment' pk=post.pk %}">AddComment</a>

<div class="container">

<!-- make sure to use a loop to display all the entries -->
<!-- 'comments' is declared as a related name in comment model with foreign key='post'so it is usable -->
 {% for comm in post.comments.all %}
 <br>
     {% if comm.approved_comm %}

             {{ comm.create_date }}

         <p>{{ comm.text|safe|linebreaks }}</p>
         <p>Posted by: <strong>{{ comm.author }}</strong></p>

     {% endif %}
     <!-- making sure only the post creators can remove the comments -->
     {% if comm.approved_comm and user.username == post.creator %}
         <a class="btn btn-primary" href="{% url 'com_reject' pk=comm.pk %}"><span class="fa fa-remove">remove</span></a>

     {% endif %}

{% empty %}
     <p>No comments posted.</p>
 {% endfor %}
</div>

{% endblock %}
