{#% extends 'blog_app/base.html'%#}
{% load static %}

{% block body_block %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static "css/login.css"%}">
<link rel="stylesheet" href="{% static 'css/new.css'%}">
<!-- <link rel="stylesheet" href="C:\Users\prajv\Desktop\PycharmProjects\PS-PY\venv\djenv\blog_pro\blog_app\static\css\login.css"> -->
<script src="{% static 'js/login.js'%}"></script>
<!-- <script src="C:\Users\prajv\Desktop\PycharmProjects\PS-PY\venv\djenv\blog_pro\blog_app\static\js\login.js"></script> -->

<!-- ### navbar code## -->
<header>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <img class="logo"src="{% static 'images/reddit.png'%}" alt="">
<a class="navbar-brand" href="{%url 'about'%}">Blueddit</a>
<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse" id="navbarCollapse" style="">
    <ul class="navbar-nav ml-auto py-4 py-md-0">

      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbar-dropdown-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            HOME
          </a>
            <div class="dropdown-menu" aria-labelledby="navbar-dropdown-menu">
          <a class="dropdown-item" href="{%url 'about' %}">About</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </div>
      </li>
      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
        <a class="nav-link" href="{% url 'post_list'%}">POSTS</a>
      </li>
      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbar-dropdown-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Contact
          </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://github.com/prajvalsudhir">Github</a>
          <a class="dropdown-item" href="https://in.linkedin.com/in/prajval-sudhir-571833185">LinkedIn</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </div>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
        <a class="nav-link" href="{% url 'post_create' %}">NewPost</a>
      </li>
      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
        <a class="nav-link" href="{%url 'Ulist' %}">My Posts</a>
      </li>
      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
      <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
      </li>
      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
      <strong><a class="nav-link" >Welcome: {{ user.username }}</a></strong>
      </li>
      {% else %}
      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
      <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
        <a class="nav-link" href="{% url 'user_login' %}" aria-label="Login">Login</a>
        </li>
      {% endif %}
  </ul>

</div>
</nav>
</header>
<!-- ######## -->

<body>
<div class="container">
  <div class="frame">
    <div class="nav">
      <ul class="links">
        {% if registered %}
        <center><h1>Thank you for registering!</h1></center>
        {% else %}
        <li class="signin-inactive"><a class="btn" href="{%url 'user_login'%}" >Sign in</a></li>
        <li class="signup-active"><a class="btn" href="{%url 'register'%}">Sign up </a></li>
      </ul>
    </div>
      <div ng-app ng-init="checked = false">
        <form class="form-signup" action="" method="post" name="form">
            {% csrf_token %}
        <label for="fullname">Username</label>
        <input class="form-styling" type="text" name="username" placeholder=""/>
        <label for="email">Email</label>
        <input class="form-styling" type="text" name="email" placeholder=""/>
        <label for="password">Password</label>
        <input class="form-styling" type="password" name="password" placeholder=""/>
        <label for="confirmpassword">Confirm password</label>
        <input class="form-styling" type="password" name="verify_pass" placeholder=""/>
        <!-- <a ng-click="checked = !checked" class="btn-signup">Sign Up</a> -->
        <input type="submit" name="" value="Sign Up" class="btn-signup">
              </form>
          {%endif%}

          <!-- FOOTER -->
          <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>© 2017-2019 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
          </footer>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
              <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>

        </body>
        </html>
{% endblock %}
